<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/spot.css">
</head>
<body>
	<div class="container">
		<h2>Home Page</h2>	
		<br><br>
	<form action="search/resulta.html">
  	<h4>Set Mood</h4><select name="Set Mood">
    	<option value="happy">Happy</option>
    	<option value="sad">Sad</option>
    	<option value="bored">Bored</option>
    	<option value="agitated">Agitated</option>
  	</select>
  		<br>
  		<h4>Set Task</h4>
  	<select name="Set Task">
    	<option value="groupstudy">Group Study</option>
    	<option value="laptop">Work on laptop</option>
    	<option value="Read">Read</option>
    	<option value="chat">Chat</option>
  	</select>
  	<br><br><br><br><br>
  	<input type="submit" value="Confirm">
</form>

	<div>
		<br><br><br><br>
		<a href="./home">Home</a> 	&nbsp;
		<a href="./search">Search</a> 	&nbsp;
		<a href="./favorites">Favorites</a> 	&nbsp;
		<a href="./profile">Profile</a> 	&nbsp;
	</div>
	<br><br>
	</div>
</body>
</html>