<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" href="css/vis.min.css">

	<link rel="stylesheet" href="../css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		<br><br>
		<h2>Home Page</h2>	
		<br>
		 <div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">Set your current mood and task, then SPOT will give you smart recommendation of suitable place to explore :)
  		</span></div>
		<br>
	<form action="./result">
  	<h4>Set Mood</h4><select name="mood"> 
		
    	<option value="happy">Happy</option>
    	<option value="sad">Sad</option>
    	<option value="relax">Relax</option>
    	<option value="agitated">Agitated</option>
  	</select>
  		<br>
  		<h4>Set Task</h4>
  	<select name="task">
    	<option value="groupstudy">Group Study</option>
    	<option value="laptop">Work on laptop</option>
    	<option value="read">Read</option>
    	<option value="chat">Chat</option>
  	</select>
  	<br><br><br><br>
  	<input type="submit" value="Confirm">

</form>



</div>


<div class="icon-bar">
	  <a class="active" href="./home"><i class="fa fa-home"></i></a> 
	  <a href="./search"><i class="fa fa-search"></i></a>  
	  <a href="./favorites"><i class="fa fa-heart"></i></a>
	  <a href="./profile"><i class="fa fa-user"></i></a> 
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>