<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="css/vis.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		<img id="logo" src="../images/SPOT.jpg">	
		 <div class="tip" onclick="void(0)"><i class="fa fa-question-circle"></i>
	  		<span class="tiptext">Set your current mood and task, then SPOT will give you 	smart recommendation of suitable place to explore :)
	  		</span>
  		</div>
		<br>
		<div class="moodSelection">
	  		<h5>Set Mood</h5>
	  		<div id="bubblemood"></div>
	  		<br><br><br>
	  	</div>

	  	<div class="taskSelection">
	  		<h5>Set Task</h5>
		  	<div id="bubbletask"></div>
		  	<br><br><br><br><br>
		  	
	  	</div>
	  	<br><br>
	  	<a id="confirm" href="./resultNL"><button type="button">Confirm</button></a>
		<br>
		
	</div>

	<div class="icon-bar">
		<a class="active" href="./home"><i class="fa fa-home"></i></a> 
	  	<a href="./search"><i class="fa fa-search"></i></a>  
	  	<a href="./favorites"><i class="fa fa-heart"></i></a>
	  	<a href="./profile"><i class="fa fa-user"></i></a>
	</div> 

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="js/vis.min.js"></script>
	<script src="js/homepage.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115102424-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115102424-1');
</script>

</body>
</html>