<!DOCTYPE html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="css/vis.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 

</head>
<body>
<div class="container">
	<img id="logo" src="../images/SPOT.jpg">
	

	<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">SPOT is a smart city-exploring recommendation system that give user suggestions based on your current mood and task in mind :) 

  			You can tap/drag the bubbles to select the one correspond with your current state.
  		</span>
  	</div>
  	<div class="moodSelection">
  		<h5>Set Mood</h5>
  		<div id="bubblemood"></div>
  		<br><br><br>
  	</div>

  	<div class="taskSelection">
  		<h5>Set Task</h5>
	  	<div id="bubbletask"></div>
	  	<br><br><br><br><br>
	  	
  	</div>
  	<br><br>
  	<a  id="confirm" href="./resultNL"><button type="button">Confirm</button></a>
	<br>
  		
  		

		<a href="login"><button class="highlight-button" type="button">  Log in  </button></a>
		<a href="signup"><button type="button">Sign up</button></a>
		<br>
		<fb:login-button 
	  	scope="public_profile,email"
	  	onlogin="checkLoginState();">
		</fb:login-button>

	

</div>
<div class="icon-bar">
	<a href="./"><i class="fa fa-home"></i></a> 
	<a href="./searchNL"><i class="fa fa-search"></i></a>  
	<a href="./login"><i class="fa fa-heart"></i></a>
	<a href="./login"><i class="fa fa-user"></i></a> 
</div>


	
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vis.min.js"></script>
	<script src="js/welcome.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>


	

</body>
</html>
