<html>
<head>
	<title>Test Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="css/vis.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div class="container">
	<br>
	<h1>Welcome to Spot!</h1>
	<p>Spot is a smart city-exploring recommendation system that give suggestions based on user's current mood and task in mind :)</p>

	<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">Set your current mood and task, then SPOT will give you smart recommendation of suitable place to explore :)
  		</span></div>
  		<br>
	<form action="result">
  		<h4>Set Mood</h4>
  		<div id="bubbles"></div>
  		
  		<h4 id="next">Set Task</h4>
		<div id="bubbles2"></div>
  			
  		<br><br><br><br><br><br>

  		<input  type="submit" value="Confirm" />
	</form>

	<div class="navabr">
		<a href="signup">Sign up</a>
		<br>
		<a href="login">Log in</a>
	</div>
</div>





	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="js/vis.min.js"></script>
	<script src="js/homepage.js"></script>
	

</body>
</html>
