<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	<body>

		<div class="pagetitle">
		<h2>log in</h2>
	</div>

		<div class="container">
			<div>
				<br><br>
				<p style="text-align: center;">Log in to access the full functionality of SPOT</p>
				<br><br>
				<form action="./home">
					Username: <input type="text" name="Userame" value="Mickey Mouse"><br>
					Password: <input type="password" name="Password" value="123456"><br>
					<br>
					<input type="submit"  value="Log In" style="display: block; text-align: center; margin: auto;">
					</form>
			</div>
		
			<p class="facebookLogin" style="display: block; text-align: center; margin: auto;" >Or Login through Facebook
				<fb:login-button 
			  	scope="public_profile,email"
			  	onlogin="checkLoginState();" style="padding-top: 8px;">
				</fb:login-button>
			</p>
			<br><br>
			<input type="button" value="Back" onclick="history.back()">

		</div>

		<div class="icon-bar">
			<a href="./"><i class="fa fa-home"></i></a> 
			<a href="./searchNL"><i class="fa fa-search"></i></a>  
			<a href="./login"><i class="fa fa-heart"></i></a>
			<a href="./login"><i class="fa fa-user"></i></a> 
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		{{> facebook}}
		<script src="/js/facebook.js"></script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115102424-1"></script>
		<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'UA-115102424-1');
		</script>

	</body>
</html>