<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
</head>
<body>

	<div class="container">
		<div>
			<br><br>	
			<h2>Log In</h2>
			<br><br><br><br>
			<form action="./home">
				Username: <input type="text" name="Userame" value="Mickey Mouse"><br>
				Password: <input type="password" name="Password" value="123456"><br>
				<br>
				<input type="submit" value="Log In">
				</form>
		</div>
	
<p class="facebookLogin">Or Login through Facebook <br>
		<fb:login-button 
  	scope="public_profile,email"
  	onlogin="checkLoginState();" style="padding-top: 8px;">
	</fb:login-button>

	</p>
	<br><br>
	<input type="button" value="Back" onclick="history.back()">

</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
{{> facebook}}
<script src="/js/facebook.js"></script>
	

</body>
</html>