<!DOCTYPE html>
<html>
<head>
<title>Navigation</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
	<br>
	<h2>Navigation</h2>
	<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">Select start and end position to begin your navigation:)
  		</span></div>
	</div>
	<iframe class="mapnav" height="500px" width="100%" src="./map" name="iframe_a"></iframe>
	<a href="./search" style="padding-left: 10%;">Back</a>
	<div class="icon-bar">
	  <a href="./home"><i class="fa fa-home"></i></a> 
	  <a href="./search"><i class="fa fa-search"></i></a>  
	  <a href="./favorites"><i class="fa fa-heart"></i></a>
	  <a href="./profile"><i class="fa fa-user"></i></a> 
	</div>
</body>
</html>
