<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container">
	<div>
		<br>
		<h2>Profile</h2>
		<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">This is your personal profile, you can edit your bio, see your reviews, explore your friend list and manage settings :)
  		</span></div>
		<br>
		<h5 id="name" style="font-weight: normal; text-align: center;">Mickey Mouse</h5>
		<img id="photo" class='img-responsive' src="/images/mickey.png" style="width: 40%; margin: auto;">
		<br>
		<p>Bio</p>
		<p>Reviews</p>
		<p>Friends</p>

		<a href="/settings"><button type="button">Settings</button></a>
		<br><br>
		<a href="./"><button type="button">Log Off</button></a>
		
	</div>
</div>
	<div class="icon-bar">
	  <a href="./home"><i class="fa fa-home"></i></a> 
	  <a href="./search"><i class="fa fa-search"></i></a>  
	  <a href="./favorites"><i class="fa fa-heart"></i></a>
	  <a class="active" href="./profile"><i class="fa fa-user"></i></a> 
	</div>
</body>
</html>