<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
</head>
<body>
	<div>
		<h2>Results</h2>
		<h4>{{name}}</h4>
		<p>{{imageURL}}</p>
		<p>{{description}}</p>
		<a href="resultb.html">No</a>
		<a href="place.html">View</a>
		<a href="map.html">Yes</a>
	</div>
	<br><br>
	<a href="./">Back</a>


</body>
</html>