<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
	<div class="container">
		<br>
		<h2>Results</h2>
		<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">Here are some recommendations for you! Select No to see another option, select Yes to open navigation or select View to see more details :)
  		</span></div>
		
		<h4>{{output.[0].name}}</h4>
		<img src="{{output.[0].imageURL}}" class="img-responsive">
		<div class="info">
			{{#each output.[0].info}}
				<p id="placedescription">{{this}}</p>
			{{/each}}
		</div>
	

		<div class="search-options">
			<a href="./resultNL_next"><button type="button">No</button></a>
			<a href="./placeNL/{{output.[0].placeId}}"><button type="button">View</button></a>
			<a href="./navigationNL"><button type="button">Go!</button></a>
		</div>
	<br>
	<input type="button" value="Back" onclick="history.back()">


	</div>




</body>
</html>