<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	
</head>
<body>
	<div>
		<h2>Results</h2>
		<h4>{{output.[0].name}}</h4>
		<img src="{{output.[0].imageURL}}" class="img-responsive">
		<div class="info">
			{{#each output.[0].info}}
				<h5>{{this}}</h5>
			{{/each}}
		</div>
		<a href="./result">No</a>
		<a href="./place">View</a>
		<a href="./map">Yes</a>
	</div>
	<br><br>
	<a href="./">Back</a>


</body>
</html>