<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
	<div class="container">
		<br><br>
		<h2>Results</h2>
		<br>
		{{#each output}}
			<a href="./place/{{placeId}}">
				<div class="thumbnail">
					<h5>{{name}}</h5>
					<img src="{{imageURL}}" class="img-responsive">
					<p>{{description}}</p>
				</div>
			</a>
		{{/each}}
	
	<div class="search-options">
		<input type="button" value="Back" onclick="history.back()">
	</div>

	</div>




</body>
</html>