<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
	<div>
		<h2>Search</h2>	
		<br>
		 <div class="search-container">
    <form action="./resultlist">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" value="Search"><i class="fa fa-search"></i></button>
    </form>
  </div>

		<br><br>
		<h4>Trending</h4>
		<ul>
			<li><a href="places/placex.html">Place X</a></li>
			<li><a href="places/placez.html">Place Z</a></li>
		</ul>

	</div>

	<div>
		<br><br><br><br>
		<a href="./home">Home</a> &nbsp;
		<a href="./search">Search</a> &nbsp;
		<a href="./favorites">Favorites</a> &nbsp;
		<a href="./profile">Profile</a> &nbsp;
	</div>
	<br><br>

</div>
</body>
</html>