<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<h2>Settings</h2>
		<div class="settingsOptions">
			<h4>Maximum Distance</h4>
			<form action="#" method="get">
			  
			  <input type="range" name="distance" min="1" max="20">
			  <output name="maxDist" for="distance"></output>
			  <input type="submit">
			</form>
			
		</div>
		
	
		<br><br>
		<input type="button" value="Back" onclick="history.back()">

	
	</div>

<div class="icon-bar">
  <a href="./home"><i class="fa fa-home"></i></a> 
  <a href="./search"><i class="fa fa-search"></i></a>  
  <a href="./favorites"><i class="fa fa-heart"></i></a>
  <a class="active" href="./profile"><i class="fa fa-user"></i></a> 
</div>

</body>
</html>