<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/share.js"></script>
</head>

<body>
	<div class="container">
	<div>
		<br><br>
		<h2>Share</h2>
		
		<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">Select from your friend list and send invitation to your chosen SPOT:)
  		</span></div>
	</div>
		<br><br>
		<form action="">
  	<h5>Select Your Friend To Share</h5><select id="friendName" name="Select Friend">
    	<option value="Jim">Jim</option>
    	<option value="Amy">Lee</option>
    	<option value="Sarah">Sarah</option>
    	<option value="John">Abbud</option>
    	<option value="John">Tom</option>
    	<option value="John">Jerry</option>
    	<option value="John">Ji-woo</option>
  	</select>
</form>
	<br><br><br>



<input id="shareNotice" type="button" value="Share"  onclick="history.back()" >

	<br>
	<input type="button" value="Cancel" onclick="history.back()">
	
</div>
<div class="icon-bar">
	  <a href="./home"><i class="fa fa-home"></i></a> 
	  <a href="./search"><i class="fa fa-search"></i></a>  
	  <a href="./favorites"><i class="fa fa-heart"></i></a>
	  <a href="./profile"><i class="fa fa-user"></i></a> 
	</div>

</body>
</html>