<!DOCTYPE html>
<html>
<head>
	<title>SPOT</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/spot.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
	<div>
		<h2>Share</h2>	
		<br>
		<div class="tip"><i class="fa fa-question-circle"></i>
  		<span class="tiptext">Select from your friend list and send invitation to your chosen SPOT:)
  		</span></div>
	</div>
		<p>Select frends to share this cool place</p>
		<form action="">
  	<h3>Select Your Friend</h3><select name="Select Friend">
    	<option value="Jim">Jim</option>
    	<option value="Amy">Amy</option>
    	<option value="Sarah">Sarah</option>
    	<option value="John">John</option>
  	</select>
</form>
	<br><br>
		<a href="./place_back">Share and Go Back</a>

	<p></p>
	<a href="./home">Cancel</a>
</div>
<div class="icon-bar">
	  <a href="./home"><i class="fa fa-home"></i></a> 
	  <a href="./search"><i class="fa fa-search"></i></a>  
	  <a href="./favorites"><i class="fa fa-heart"></i></a>
	  <a href="./profile"><i class="fa fa-user"></i></a> 
	</div>

</body>
</html>