<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<meta charset="UFT-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UFT-8">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/spot.css">
</head>
<body>
	<div class="container">
	<div>
		<h2>Sign Up</h2>
		<br><br><br><br>
		<form action="./home">
	Create a Username: <input type="text" name="Username" value=""><br>
	Create a Password: <input type="text" name="Password" value=""><br>
	<br>
	<input type="submit" value="Create account">
	</form>
	</div>
	
	<br><br>
	<a href="./">Back</a>
	</div>
</body>
</html>